subscription_id          = "00000000-0000-0000-0000-000000000000"
prefix                   = "prodaks"
location                 = "eastus"
kubernetes_version       = "1.29.7"
private_cluster_enabled  = false
admin_group_object_ids   = ["11111111-1111-1111-1111-111111111111"]
vnet_cidr                = "10.40.0.0/16"
aks_subnet_cidr          = "10.40.1.0/24"
private_endpoint_subnet_cidr = "10.40.2.0/24"
service_cidr             = "10.41.0.0/16"
dns_service_ip           = "10.41.0.10"
system_node_pool_vm_size = "Standard_D4s_v5"
system_node_count        = 3
user_node_pool_vm_size   = "Standard_D4s_v5"
user_node_pool_min_count = 2
user_node_pool_max_count = 6
tags = { owner = "containers-team", cost_center = "cc-3001" }
